<html>
<head>
    <title>demo</title>
    <link rel="stylesheet" href="/css/demo.css">
    <link href="../node_modules/aos/dist/aos.css" rel="stylesheet">
</head>
<body style="height:120vh;">
    <div>
        <input id="toggle-heart" type="checkbox" />
        <label for="toggle-heart">❤</label>
    </div>
    <div data-aos='zoom-in'><h1>hello world</h1></div>
    <script src="../node_modules/aos/dist/aos.js"></script>
	<script>
		AOS.init();
	</script>
</body>
</html>