<% include partials/header %>
<div class="friend-model-box">
    <% results.forEach(function(result) { if(result.username != username ) { %>
    <figure class="friend-box">
        <div class="friend-box-content">
            <blockquote class="friend-box-text">
                <img src="<%= result.profilepic %>" alt="" class="friend-box-image"> 
            </blockquote>
            <blockquote class="friend-box-user">
                <%= result.username %>
            </blockquote>
        </div>
        <!-- <form action="/friends/add/<%= result.added %>" method="POST">
            <button class="enter-button-add">
                <span>
                <svg class="side-nav-icon">
                    <use xlink:href="/img/sprite.svg#icon-add-user"></use>
                </svg>
                </span>
            </button>
        </form> -->
    </figure> 
    <% }}) %>                                      
</div>
<% include partials/footer %>
