<html>
<html>
<head>
	<title>.CONNECT</title>
	<link rel="stylesheet" type="text/css" href="/css/landing.css">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> -->
  <link rel="shortcut icon" type="img/png" href="img/smile.png">
</head>
<body>
	<div id="landing-header">
    <div class="main">
      <h1 class="heading">Welcome to</h1>
      <span class="main-logo">
        <h2 class="logo">
          <a href="/home" class="logo-link">.connect</a>
        </h2>
      </span>
    </div>
    <a href="/register" class="btn btn-color btn-animated">Discover</a>
    <a href="/login" class="btn btn-color btn-animated">Login</a>
  </div>
  <ul class="slideshow">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <!-- <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li> -->
  </ul>
</body>
</html>